{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>testbench生成</title>
	<link rel="stylesheet" href={% static "css/bootstrap.min.css" %}>
	<link rel="stylesheet" type="text/css" href={% static "css/reset.css" %}>
	<link rel="stylesheet" type="text/css" href={% static "css/main.css" %}>
	<script src={% static "js/bootstrap.min.js" %}></script>
	<script type="text/javascript" src={% static "js/jquery-1.12.4.min.js" %}></script>
	<script src={% static "js/converter.js" %}></script>
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top container-fluid">
	  <div class="container">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	        <a class="navbar-brand" href="#">EDA智能实验室</a>
	    </div>
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	     	<ul class="nav navbar-nav">
	       		<li class="active"><a href="#">Test Bench转换<span class="sr-only">(current)</span></a></li>
	       		<li><a href="#">Other</a></li>
	        </ul>
            {% if request.user.is_authenticated %}
            <div class="login_info fr">
                欢迎您：<em>{{ user.username }}</em>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{% url 'user:logout' %}">退出</a>
		    </div>
            {% else %}
            <ul class="nav navbar-nav navbar-right login_btn">
		        <li><a href="#" class="login">登录</a></li>
		      	<li><a href="{% url 'user:register' %}" class="register">注册</a></li>
	        </ul>
            {% endif %}
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
	<!-- 登录弹窗 -->
	<div class="logoin_pop" style="display: {{ display }};">
		<div class="pop">
			<div class="close"><a href="javascript:;"><img src={% static "images/close.png" %} alt="关闭"></a></div>
			<div class="menu_pop clearfix">
				<div class="pop_title">用户名密码登录</div>
				<form class="pop_table clearfix" method="post" action="/login/">
                    {% csrf_token %}
					<input type="text" name="username" class="name_input" placeholder="&nbsp;请输入用户名">
					<div class="user_error">&nbsp;输入错误</div>
					<input type="password" name="pwd" class="pass_input" placeholder="&nbsp;请输入密码">
                    {% if errmsg == '1' %}
                    <div class="pwd_error" style="display: block;">&nbsp;输入错误</div>
                    {% endif %}
					<input type="submit" value="登录" class="input_submit">
				</form>
				<div class="pop_buttom">
					<a href="#" class="pop_forget">忘记密码？</a>
					<a href="{% url 'user:register' %}" class="pop_register">立即注册</a>
				</div>
			</div>
		</div>
		<div class="mask"></div>
	</div>
	<!-- 文件转换界面 -->
	<div class="container content_con">
		<div class="page-title">
	        <h1>文件转换器</h1>
	        <h2>将您的文件转换成测试文件</h2>
            {{ filemsg }}
	    </div>
	    
	    <div class="converter-container">
	    	<!-- 无文件时 -->
	    	<div class="converter-wrapper clearfix" style="display: block;">
    			<div class="converter-menu clearfix">
					<form class="file-source-button clearfix" action="/nofiles" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
						<input type='file' for="pc_upload_add" name="file" class="action-label">
						<button type="sumit" id="file_add">点击上传</button>
					</form>
					<div class="file-source-caption">
						<span>放置文件在这里. 最大文件大小100 MB  或者 <a href="{% url 'user:register' %}">注册</a></span>
					</div>
    			</div>
	    	</div>
			<!-- 有文件 -->
			<div class="files_container" style="display:none;">
				<ul class="data-table-wrapper">
                    {% csrf_token %}
                    <li class="row">
						<div class="col-xs-4" id="filename">{{ filename }}</div>
						<div class="col-xs-4" id="path">到<em>>></em>INST_{{ filename }}</div>
						<div class="col-xs-1">
							<div id="ready">准备好了</div>
						</div>
						<div class="col-xs-2" id="size">{{ filesize }}KB</div>
						<div class="col-xs-1" id="quit"><a href="#">X</a></div>
					</li>
				</ul>
				<div class="file-tools">
					<div class="blank"></div>
					<div class="file-add">
						<div class="row add">
							<div class="col-xs-8">
                                <form id="uploadForm" action="/havefiles" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <a href="javascript:;" class="file" name="files">
                                        <em>+</em>&nbsp;&nbsp;<span>更换为其他文件</span>
                                        <input type="file" name="file" id="add_btn">
                                    </a>
                                    <button type="sumit" id="upload">点击上传</button>
                                </form>
								<!-- <input type="file" id=""><em>+</em>&nbsp;&nbsp;添加更多文件</input> -->
							</div>
							<div class="col-xs-4 feiji">
								<div class="file-convert">转换</div>
								<div class="file-bg"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
            <!-- 下载文件 -->
            <div class="data-table-wrapper" >
                <ul>
                </ul>
			</div>
	    </div>

	</div>
	<div class="footer_index no-mp">
		<div class="foot_link_index">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>		
		</div>
		<p>CopyRight © 2020 西电智能化实验室 All Rights Reserved</p>
		<p>电话：010-****888    陕ICP备*******8号</p>
	</div>
	
</body>
    <script>
        $(function(){
            $add = $('.converter-wrapper');
            $files = $('.files_container');

            {% if file_display != '1' %}
                $add.css('display','block');
                $files.css('display','none');
            {% else %}
                $add.css('display','none');
                $files.css('display','block');
            {% endif %}

            //添加
            {#$files_add = $('#upload');#}
            {% if have_display == '1' %}
                $('.file').find('span').html('改变转换文件');
                {#$ul.append($li);#}
            {% endif %}

            //文件转换
            var $ul = $('.data-table-wrapper').find('ul');
            $converter = $('.file-convert');
            $converter.click(function(){
                //获取文件名
                filename = $('#filename').html();
                csrf = $('input[name="csrfmiddlewaretoken"]').val();
                params = {'filename':filename,'csrfmiddlewaretoken':csrf};
                if ($ul.children('li').length > 0)
                    {
                        alert('文件已转换成功,无需重复转换');
                        return false;
                    }
                $.post('/converter/',params,function (dat) {
                    {#alert($ul.children('li').length);#}
                    $li = '<li class="row">\n' +
                        '                        <div class="col-xs-4" id="name">'+dat.con_filename+'</div>\n' +
                        '                        <div class="col-xs-4" id="path">' +
                        '<a href="/download/'+dat.con_filename+'" title="点击下载" id=‘download’><em>☺</em> 点击下载</a></div>\n' +
                        '                        <div class="col-xs-1">\n' +
                        '                            <div id="ready">转换成功</div>\n' +
                        '                        </div>\n' +
                        '                        <div class="col-xs-2" id="size">'+dat.con_filesize+'KB</div>\n' +
                        '                        <div class="col-xs-1" id="quit"><a href="#" title="不要点我">X</a></div>\n' +
                        '                    </li>'
                    if (dat.res == 2){
                        alert('转换成功！');
                        $ul.append($li);
                    }
                    else{
                        alert(dat.errmsg)
                    }
                })
            })

            {#var $download = $('#download')#}
            {#$download.click(function () {#}
            {#    con_filename = $('#name').html();#}
            {#    params = {'filename':con_filename};#}
            {##}
            {#    $.post('/download/',params,function(file){#}
            {#        if(file.res == 2)#}
            {#        {#}
            {#            alert('开始下载');#}
            {#        }#}
            {#        else#}
            {#        {#}
            {#            alert(file.errmsg);#}
            {#        }#}
            {#    })#}
            {# })#}


        })

    </script>
</html>